body {
    /* background-image: url("Images/cine.jpg"); */
    /* background-image: url(".images/cine.jpg"); */
    background-image: url("../images/cine.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: aliceblue;
    align-items: center;
    width: 100%;
    float: left;
    text-align: center;
}

iframe {
    width: 800px;
    height: 400px;
    margin: 0 auto;
    /* height: 2em; */
    text-align: center;
}